@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --background: #36382E;
    --containerBorder: #477998;
    --containerBackground: #DADAD9;
    --textLight: white;
    --textDark: black;
    --tableDark: #8D8D8D;
    --tableLight: white;
    --tableBackground: gray;
}
body{
    background-color: var(--background);
}
header{
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    color: var(--containerBackground);
    
}

.container{
    width: 450px;
    height: 450px;
    border: 15px solid var(--containerBorder);
    border-radius: 0.5rem;
    margin: auto;
    text-align: center;
    background-color: var(--containerBackground);
    color: var(--containerBorder);
    padding-bottom: 2rem;
}

.container input{
    width: 55%;
    border: 1px solid var(--containerBorder);
    font-size: 1.5rem;
    text-align: right;
    margin-block-start: 0;
    margin-block-end: 0;
    
}

.notes-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: stretch;
    padding: 15px;
}
.remaining-amount{
    grid-column: 1/span 2 ;
    text-align: center;
    background-color: var(--containerBorder);
    color: var(--textLight);
    margin-block-end: 0;
    padding: 0.5rem;
}
.table-heading{
    margin-block-end: 0;
    /* border: 2px solid var(--background); */
    padding: 5px;
    background-color: var(--containerBorder);
    color: var(--textLight);

}
.no-of-notes{
    border: 1px solid var(--background);
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 3px;
    font-weight: bolder;
}
.denomination{
    border: 1px solid var(--background);
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 3px;
    font-weight: bolder;
}
footer{
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    text-align: center;
}
footer p{
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--textLight);
    padding: 5px;
}
.list{
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.list-item{
    display: inline;
}
.icons{
    margin: 10px;
}